@import "./variables.css";
@import "./base.css";
@import "./buttons.css";
@import "./header.css";
@import "./board.css";
@import "./keyboard.css";
@import "./modal.css";
@import "./homepage.css";
@import "./game.css";
@import "./selector.css";
@import "./responsive.css";
